<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>153301816307-8km9n3rsvk6gvr3nt30uonk2nqtnnd8m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.153301816307-8km9n3rsvk6gvr3nt30uonk2nqtnnd8m</string>
	<key>API_KEY</key>
	<string>AIzaSyD1QVJT1XLCu9y8CdTAx3hIVSut0y42890</string>
	<key>GCM_SENDER_ID</key>
	<string>153301816307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.expensify</string>
	<key>PROJECT_ID</key>
	<string>fitnessapp-a1887</string>
	<key>STORAGE_BUCKET</key>
	<string>fitnessapp-a1887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153301816307:ios:ec35a4ea433b6d89fcf886</string>
</dict>
</plist>